<div ng-init="initialize()" ng-show="parametersLoaded">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive" >
                <caption>
                    <span class="col-md-3">Parameters</span>                    
                    <div class="col-md-3">
                        
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-success" data-toggle="modal" data-backdrop="static" data-keyboard="false" 
                           data-target="#addParameterModal">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Parameter
                        </a>                       
                    </div>   
                    <div class="col-md-3">
                        <a class="btn btn-success" ng-csv="paramsDownload" csv-header="headers" filename="cmcParameters.csv">
                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download Parameters
                        </a>                        
                    </div>    
                </caption>
                <thead>
                    <tr>
                        <th > 
                            <div ng-click="sort('Name');">
                                Name
                                <span class="glyphicon sort-icon" ng-show="sortKeyName=='Name'"
                                      ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
                            </div>
                            <div class="input-group">
                                <div>
                                    <selectpicker data-array="manageParametersDropdownList" data-model="search.Name"></selectpicker>
                                </div>
                            </div>
                        </th>
                        <th >
                            <div ng-click="sort('Code')">
                                Code
                                <span class="glyphicon sort-icon" ng-show="sortKeyName=='Code'"
                                      ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
                            </div>
                            <div class="input-group">
                                <input class="form-control" ng-model="search.Code" placeholder="Filter Code" />                                
                            </div>
                        </th>
                        <th>
                            <div ng-click="sort('Units')">
                                Units
                                <span class="glyphicon sort-icon" ng-show="sortKeyName=='Units'"
                                      ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
                            </div>
                            <div class="input-group">
                                <input class="form-control" ng-model="search.Units" placeholder="Filter Units" />

                            </div>
                        </th>
                        <th>
                            <div ng-click="sort('Equipment')">
                                Equipment
                                <span class="glyphicon sort-icon" ng-show="sortKeyName=='Equipment'"
                                      ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
                            </div>
                            <div class="input-group">
                                <input class="form-control" ng-model="search.Equipment" placeholder="Filter Equipment" />

                            </div>
                        </th>
                        <th>
                            <div ng-click="sort('Tier');">
                                Tier
                                <span class="glyphicon sort-icon" ng-show="sortKeyName=='Tier'"
                                      ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
                            </div>
                            <div class="input-group">
                                <div>
                                    <selectpicker data-array="tableTierList" data-model="search.Tier"></selectpicker>
                                </div>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody >
                    <tr pagination-id="paginateParameters" dir-paginate="prm in parameters | orderBy:sortKey:reverse | filter:search | itemsPerPage:10">
                        <td>{{prm.Name}}</td>
                        <td>{{prm.Code}}</td>
                        <td>{{prm.Units}}</td>
                        <td>{{prm.Equipment}}</td>
                        <td>{{prm.Tier}}</td>
                        <td>
                            <button type="button" class="btn btn-success pull-right" data-backdrop="static" data-keyboard="false" 
                                    ng-click="setParameter(prm)" data-toggle="modal" data-target="#editParameterModal">
                                <span class="glyphicon glyphicon-th-list" aria-hidden="true" ></span> View Details / Edit
                            </button>
                        </td>
                        <!--<td>
                            <button type="button" class="btn btn-danger" ng-click="deleteParameter(prm)" data-dismiss="modal">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
                            </button>
                        </td>-->
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls pagination-id="paginateParameters" max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
        <div class="modal " id="addParameterModal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div ui-view="add"></div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        <div class="modal " id="editParameterModal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div ui-view="edit"></div>
                </div>
            </div>
        </div><!-- /.modal -->
    </div>
    
</div>