@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email.         
    </p>
    <p>
        There is still one more step! A member of the Chesapeake Monitoring Community has been 
        notified that you would like access. If you do not receive an email within 2 days, please
        @Html.ActionLink("Contact Us","Contact","Home").
    </p>
</div>
