@{
    ViewBag.Title = "Email Sent to Newly Registered User";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        The newly registered user should check the email that you submitted for a link to change the password attached to this previously unregistered account. 
        The link will allow them to reset the password. 
    </p>
</div>
	
