<h2>Chesapeake Monitoring Cooperative </h2>
<h3><i>Working together to understand the health of our waters</i></h3>
<div class="verticalSpace10"></div>
<div class="row">
    <div class="col-md-12">
        <p>The <a class="cmcLink" href="https://www.chesapeakemonitoringcoop.org">Chesapeake Monitoring Cooperative</a> (CMC) is a group of leading organizations that provide technical, programmatic, and outreach support in order to integrate volunteer-based and non-traditional water quality and benthic macroinvertebrate monitoring data monitoring data into the Chesapeake Bay Program partnership. Currently there are many sources of data, including data collected by volunteers, local governments and NGOs, that are not being used to track Bay health. Data contribution by this network of volunteer and non-traditional sources will provide valuable information and create a comprehensive understanding of the Chesapeake Bay watershed, the health of the bay, and the success of restoration efforts.</p>
        <p>The Chesapeake Data Explorer was developed at the request of and funded by the EPA’s Chesapeake Bay Program (CBP).  The Data Explorer was built to house the data provided by the organizations that are participating in the CMC.  Data submitted to the Data Explorer are periodically submitted to the CBP for use by the Chesapeake Scientific and Management community in their efforts to assess the health of Chesapeake Bay.</p>
        <p>The CMC membership includes: The Alliance for the Chesapeake Bay, Izaac Walton League, Dickinson College’s Alliance for Aquatic Resource Monitoring, and the University of Maryland Center for Environmental Science.</p>
    </div>
    
</div>
<div class="row">
    <div class="col-md-4">
        <div class="verticalSpace25"></div>
        <img src="~/Images/Logo/alliance.png" height="100" />             
    </div>
    <div class="col-md-2">
        <img src="~/Images/Logo/iwl.png" height="150"  />
    </div>
    <div class="col-md-2">
        <img src="~/Images/Logo/allarm.png" height="150" />
    </div>
    <div class="col-md-4">
        <div class="verticalSpace25"></div>
        <img src="~/Images/Logo/umces.png" height="100" />   
    </div>
</div>

