<h2>Contact</h2>
<p>
    If you have questions or comments about the Chesapeake Monitoring Cooperative (CMC) or the
    Chesapeake Data Explorer or are interested in having your organization participate in the CMC,
    please contact <a class="cmcLink" href="mailto:lchudoba@allianceforthebay.org">Liz Chudoba</a>, CMC Project Manager,
    or visit the <a class="cmcLink" href="https://www.chesapeakemonitoringcoop.org">CMC website</a>.
</p>


