@{
    ViewBag.Title = "Home Page";
}
<div ng-app="cmcPublic"><div ui-view></div></div>

@section viewScripts{
    @Scripts.Render("~/Scripts/angularPublicModule")
    @Scripts.Render("~/Scripts/allAngularPublicCustom")
}

