<div class="modal-header">    
    <h4 class="modal-title">Warnings</h4>
</div>
<div class="modal-body" novalidate>  
    <p>The data you submitted has not yet been uploaded. The file has the following associated warnings. A file is allowed to be uploaded with associated warnings,
                    but we recommend double checking these warnings. If you would like to proceed with the data upload, please click "Proceed with Upload" button below. Otherwise, 
            click the "Cancel" button below to return to the form.</p>
    <div class="form-validation-group errorList" >
        <ul>
            <li ng-repeat="warn in warnings">The value submitted for {{warn.name}} was {{warn.value}} {{warn.units}}. This is {{warn.type}} the range check limit of {{warn.limit}} {{warn.units}} for {{warn.name}}.</li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="confirmWarnings()" data-dismiss="modal">
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Proceed with Upload
    </button>
    <button type="button" class="btn btn-danger" ng-click="" data-dismiss="modal">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
    </button>
</div>