<div ng-cloak">
    <div class="modal-header" ng-init="redrawMap()">
        <button type="button" class="close" ng-click="clearNewStation(addStationForm)" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add Station</h4>
    </div>
    <div class="modal-body" novalidate>
        <p>
            Hi, on this page you can add a monitoring location. If you do not know the coordinates of the monitoring location you are suggesting,
            click the check-box below the form to choose your sampling location using a map.
        </p>
        <div class="row bright">
            <div class="col-md-12">
                Note: All Latitude and Longitude submissions must be geographic coordinates (decimal degrees) on the
                North America Datum of 1983 (NAD83).
            </div>
        </div>
        <div class="verticalSpace10"></div>
        <form name="addStationForm">        
            <div class="form-group" ng-hide="isMonitorOrCoordinator" ng-class="{ 'has-error': !addStationForm.$pristine && addStationForm.Group.$error.required }">
                <label>Group</label>
                <div>
                    <selectpicker name="Group" data-array="groupsList" data-model="groups" required></selectpicker>
                </div>
                <span class="help-block" ng-show="addStationForm.Group.$error.required && !addStationForm.$pristine">Must Select a Group</span>
                <div class="help-block" ng-messages="addStationForm.Group.$error.required" ng-show="addStationForm.Group.$touched">
                    <div ng-messages-include="../../ang/admin/helpers/validationMessages.html"></div>
                </div>
                
            </div>
            <div class="form-group" ng-class="{ 'has-error': addStationForm.Name.$touched && addStationForm.Name.$invalid }">
                <label>Station Name</label>
                <input name="Name" type="text" class="form-control" placeholder="Enter Station Name"
                       ng-model="newStation.Name"
                       ng-maxlength="1000"
                       required>
                <div class="help-block" ng-messages="addStationForm.Name.$error" ng-show="addStationForm.Name.$touched">
                    <div ng-messages-include="../../ang/admin/helpers/validationMessages.html"></div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': addStationForm.Code.$touched && addStationForm.Code.$invalid }">
                <label>Station Code</label>
                <input name="Code" type="text" class="form-control" placeholder="Enter Station Code"
                       ng-model="newStation.Code"                       
                       ng-maxlength="1000"
                       required disabled>
                <div class="help-block" ng-messages="addStationForm.Code.$error" ng-show="addStationForm.Code.$touched">
                    <div ng-messages-include="../../ang/admin/helpers/validationMessages.html"></div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': addStationForm.NameLong.$touched && addStationForm.NameLong.$invalid }">
                <label>Station Long Name</label>
                <input name="NameLong" type="text" class="form-control" placeholder="Enter Station Long Name"
                       ng-model="newStation.NameLong"
                       ng-minlength="2"
                       ng-maxlength="1000"
                       required>
                <div class="help-block" ng-messages="addStationForm.NameLong.$error" ng-show="addStationForm.NameLong.$touched">
                    <div ng-messages-include="../../ang/admin/helpers/validationMessages.html"></div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': addStationForm.Description.$touched && addStationForm.Description.$invalid }">
                <label>Station Description</label>
                <input name="Description" type="text" class="form-control" placeholder="Enter Station Description"
                       ng-model="newStation.Description"
                       ng-minlength="2"
                       ng-maxlength="1000"
                       required>
                <div class="help-block" ng-messages="addStationForm.Description.$error" ng-show="addStationForm.Description.$touched">
                    <div ng-messages-include="../../ang/admin/helpers/validationMessages.html"></div>
                </div>
            </div>
            <div class="form-group">
                <label>Sampling Method</label>
                <div>
                    <selectpicker data-array="samplingMethodsList" data-model="newStation.StationSamplingMethodId"></selectpicker>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': addStationForm.Lat.$touched && addStationForm.Lat.$invalid }">
                <label>Latitude</label>
                <input name="Lat" type="number" class="form-control" placeholder="Enter Latitude"
                       ng-model="newStation.Lat"
                       required
                       ng-pattern="/^-?[0-9]{1,2}\.\d{4,10}?$/" min="36.92" max="43.26"/>
                <div class="help-block" ng-messages="addStationForm.Lat.$error" ng-show="addStationForm.Lat.$touched">
                    <p ng-message="pattern"> Must be a valid latitude in decimal degrees (number with minumum of 4 decimal places, ex. -76.0646).</p>
                    <div ng-message="min">The value is less than the minimum latitude value in decimal degrees for the Chesapeake Bay Watershed (36.9200).</div>
                    <div ng-message="max">The value is greater than the maximum latitude value in decimal degrees for the Chesapeake Bay Watershed  (43.2600).</div>
                    <div ng-messages-include="../../ang/admin/helpers/validationMessages.html"></div>
                </div>
                <div class="bright" ng-show="outOfBounds">
                    Please check that you entered values for Latitude and Longitude that are within the Chesapeake Bay watershed then resubmit the form.
                    If the problem persists and you are sure you entered the position correctly, there may be an issue in contacting our spatial analytics server. Please wait a bit and try again.
                </div>                
            </div>
            <div class="form-group" ng-class="{ 'has-error': addStationForm.Long.$touched && addStationForm.Long.$invalid }">
                <label>Longitude</label>
                <input name="Long" type="number" class="form-control" placeholder="Enter Longitude"
                       ng-model="newStation.Long"
                       required
                       ng-pattern="/^-?[0-9]{1,3}\.\d{4,10}?$/" min="-80.87" max="-73.93"/>
                <div class="help-block" ng-messages="addStationForm.Long.$error" ng-show="addStationForm.Long.$touched">
                    <p ng-message="pattern"> Must be a valid longitude in decimal degrees (number with minumum of 4 decimal places, ex. -76.0646).</p>
                    <div ng-message="min">The value is less than the minimum longitude value in decimal degrees for the Chesapeake Bay Watershed (-80.8700).</div>
                    <div ng-message="max">The value is greater than the maximum longitude value in decimal degrees for the Chesapeake Bay Watershed (-73.9300).</div>
                    <div ng-messages-include="../../ang/admin/helpers/validationMessages.html"></div>
                </div>
                <div class="bright" ng-show="outOfBounds">
                    Please check that you entered values for Latitude and Longitude that are within the Chesapeake Bay watershed then resubmit the form.
                    If the problem persists and you are sure you entered the position correctly, there may be an issue in contacting our spatial analytics server. Please wait a bit and try again.
                </div>
            </div>
            <div class="form-group">
                <label>Select to use map to find Lat/Long for new station <input type="checkbox" ng-model="showMap"></label>
                <leaflet markers="markers2" id="newStnMap" class="cursorPointer" ng-show="showMap" lf-center="center" height="400px" width="100%"></leaflet>
            </div>

            
            <div class="form-group" ng-class="{ 'has-error': addStationForm.Comments.$touched && addStationForm.Comments.$invalid }">
                <label>Comments</label>
                <textarea name="Comments" rows="5" class="form-control" placeholder="Enter Comments"
                          ng-model="newStation.Comments"
                          ng-minlength="1"
                          ng-maxlength="1000"></textarea>
                <div class="help-block" ng-messages="addStationForm.Comments.$error" ng-show="addStationForm.Comments.$touched">
                    <div ng-messages-include="../../ang/admin/helpers/validationMessages.html"></div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="addStation(addStationForm)">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Save
        </button>
        <button type="button" class="btn btn-danger" ng-click="clearNewStation(addStationForm)" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Cancel
        </button>
    </div>
</div>