<div ng-controller="benthicSamplesAddBulkController as ctrl" ng-init="initialize()">
    <div class="row">
        <div class="col-md-12">
            <p ng-show="ctrl.isCoordinator">
                Welcome to the bulk data upload page! Here you can upload a spreadsheet file (.csv) containing data from {{ctrl.userGroup}}
                for multiple sampling locations and dates. The file needs to adhere to a very specific file format, a template for which can be downloaded
                <a class="success" href="../../../../Documents/Templates/cmcBulkSamplesTemplate.csv">here</a>.
                Additional details can be found in the <a class="success" href="../../../../Documents/UserGuide.pdf">Data Explorer User’s Manual</a>.
            </p>
            <p ng-show="!ctrl.isCoordinator">
                Welcome to the bulk data upload page! Here you can upload a spreadsheet file (.csv) containing data for multiple sampling locations and dates for any monitoring group in the Data Explorer. 
                The file needs to adhere to a very specific file format, a template for which can be downloaded
                <a class="success" href="../../../../Documents/Templates/cmcBulkSamplesTemplate.csv">here</a>.
                Additional details can be found in the <a class="success" href="../../../../Documents/UserGuide.pdf">Data Explorer User’s Manual</a>.
            </p>
            <form name="addBulkBenthicSampleForm">
                <div class="form-validation-group" ng-show="ctrl.errors">
                    <ul>
                        <li ng-repeat="error in ctrl.errors">{{error.value}}</li>
                    </ul>
                </div>
                <div class="form-group" ng-class="{ 'has-error': !addBulkBenthicSampleForm.$pristine }">
                    <label>File</label>
                    <input type="file" ngf-select ng-model="ctrl.file" name="file" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
                    <span class="help-block" ng-show="addBulkBenthicSampleForm.file.$error.maxSize">
                        File too large
                        {{errorFile.size / 1000000|number:1}}MB: max 2M
                    </span>
                    <span class="help-block" ng-show="addBulkBenthicSampleForm.file.$error.required && !addBulkBenthicSampleForm.$pristine && !addBulkBenthicSampleForm.file.$error.maxSize">Must Select a File</span>
                    <div class="help-block" ng-messages="addBulkBenthicSampleForm.file.$error.required" ng-show="addBulkBenthicSampleForm.file.$touched">
                        <div ng-messages-include="../../ang/admin/helpers/validationMessages.html"></div>
                    </div>
                </div>

                <button type="button" class="btn btn-success" ng-click="ctrl.uploadBulk()" ng-show="!ctrl.uploading" ng-disabled="ctrl.file == null">
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Save
                </button>
                <button type="button" class="btn btn-success" ng-show="ctrl.uploading" ng-disabled="ctrl.uploading">
                    <span class="fa fa-spinner fa-spin" aria-hidden="true"></span> Uploading
                </button>
                <div class="verticalSpace20"></div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="bright">Samples bulk upload file format: </p>
                        <a href="../Documents/Templates/cmcBulkBenthicSamplesTemplate.csv" role="button" class="btn btn-success">
                            <span class="fa fa-download" aria-hidden="true"></span> Bulk Samples Template
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
